.cm-header-1 {
    font-size: 2em;
  }
  .cm-header-2 {
    font-size: 1.6em;
  }
  .cm-header-3 {
    font-size: 1.37em;
  }
  .cm-header-4 {
    font-size: 1.25em;
  }
  .cm-header-5,
  .cm-header-6 {
    font-size: 1.12em;
  }


  cm-header cm-header-1{
    font-size: 2em;
    text-align: center !important;
    color: blueviolet;
  }


.HyperMD-header-1,
.inline-title[data-level='1'],
.HyperMD-list-line .cm-header-1 {
  font-size: 1.5em;
  color: #e99d9d;
}

.cm-s-obsidian .cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):not(:has(>br:only-child)) {
	padding-top: 10px;

}